body{
	background-color: black;
}


.navbar{
	background-color: #424038;
	margin-left: 25%;
	margin-right: 25%;
	color: white;
	font-style: bold;
	border-radius: 20px;
}
.navbar a{
color: white;
	font-style: bold;
	border-radius: 20px;
}

.Intro{
	background-image: url('backgroundpaper.png');
	padding: 10px;
	border-radius: 20px;
}

.glitch{
	background-color: black;
	padding: 10px;
	border-radius: 20px;
}

 ul{
	padding-left: 20%;
}

 li{
	margin-bottom: 5px;
	line-height: 145%;
}

.glitch li{
	color: white;
	font-family: "Times New Roman", Times, serif;
}

.profile{
	width: 10%;
	float: right;
	padding-right: 50%;
}